﻿/*reset*/
	@charset "UTF-8";
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		font-size: 100%;
		vertical-align: baseline;
	}
	
	html {
		line-height: 1;
	}
	
	ol, ul {
		list-style: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	caption, th, td {
		text-align: left;
		font-weight: normal;
		vertical-align: middle;
	}
	q, blockquote {
		quotes: none;
	}
	q:before, q:after, blockquote:before, blockquote:after {
		content: "";
		content: none;
	}
	a img {
		border: none;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
		display: block;
	}
/**/

/*Общие*/
	@font-face {
		font-family: "Fira Sans";
		font-weight: 400;
		font-style: normal;
		src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/T3abUOg4YgfjOby2l-Qudj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	}
	html {height: 100%;}
	body {
		height: 100%;
		color: #2f2f2f;
		background-color: #fff9ee;
	}

	::selection {background: #b7e0f6;}
	::-moz-selection {background: #b7e0f6;}
	
	* {
		font-family:  Arial, sans-serif;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		-webkit-appearance: none;
		   -moz-appearance: none;
			-ms-appearance: none;
				appearance: none;
		
	}
	.wrapper {
		min-height: 100%;
		max-width: 1900px;
		width: 90%;
		height: auto;
		margin: 2% auto 0;
	}
	.block {
		border: 1px solid #dedede;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
		background-color: #fff;
	}
/*/Общие*/

/*chat*/
	#chat {
		float: left;
		width: 50%;
		min-height: 600px;
		margin-right: 1%;
	}
	.chat__wrap {
		position: fixed;
		width: 45%;
		max-width: 950px;
		height: 100%;
	}
	.messages__wrap {
		position: relative;
		height: 100%;
		padding-bottom: 215px;
		min-height: 550px;
	}
	.messages {
		height: 100%;
		margin-bottom: 20px;
		padding: 30px;
		overflow-y: auto;
		position: relative;
	}
	.message {
		cursor: default;
		font-family:  Arial, sans-serif;
		font-size: 14px;
		display: block;
		clear: both;
		width: 100%;
	}
	.message_none {
		font-family:  Arial, sans-serif;
		font-size: 20px;
		text-align: center;
		margin-top: 30%;
		color: #bbb;
	}
	.message_loader {
		display: none;
		position: absolute;
		width: 16px;
		height: 16px;
		top: 30px;
		background-image: url("../img/loader.gif");
		&:after {
			font-family:  Arial, sans-serif;
			padding-left: 20px;
			content: 'Думаю';
		}
	}
	.me,.system {
		position: relative;
		margin: 7px 0 7px 0;
		padding: 10px 20px 8px 20px;
		border-radius: 5px;
		max-width: 80%;
		&:after {
			content: "";
			position: absolute;
			width: 13px;
			height: 10px;
		}
	}
	.me {
		float: right;
		background-color: #f1f1f1;
		&:after {
			bottom: -3px;
			right: -7px;
			background-image: url("../img/message_me.png");
		}
		.date {left: -37px;}
	}
	.system {
		float: left;
		background-color: #ffe8c8;
		&:after {
			bottom: -3px;
			left: -7px;
			background-image: url("../img/message_system.png");
		}
		.date {right: -37px;}
	}
	.date {
		font-size: 12px;
		color: #ddd;
		position: absolute;
		top: 32%;
	}
	.input {
		position: absolute;
		resize: none;
		bottom: 90px;
		left: 0;
		font-size: 18px;
		width: 100%;
		height: 100px;
		margin-bottom: 15px;
		padding: 15px;
	}
	.send {
		position: absolute;
		bottom: 60px;
		left: 0;
		font-family:  Arial, sans-serif;
		font-size: 14px;
		display: inline-block;
		padding: 10px 30px 10px 30px;
		text-align: center;
		cursor: pointer;
		border: 1px solid rgb( 224, 224, 224 );
		background: linear-gradient(rgb(255,255,255) 0%,rgb(230,230,230) 100%);
		&:hover {
			background: #efefef;
		}
		&:active {
			background: #fefefe;
		}
	}
/*/chat*/

/*dash*/
	#dashboard {
		float: left;
		width: 48%;
		height: 100%;
		margin-left: 1%;
		margin-bottom: 72px;
	}
	.tabs_wrap {
		position: fixed;
		background-color: white;
		width: 43%;
		border-top: 1px solid #dedede;
		z-index: 30;
		&:after,&:before {
			content: '';
			position: absolute;
		}
		&:after{
			bottom: -20px;
			left: 0px;
			height: 20px;
			width: 100%;
			background-color: white;
		}
		&:before{
			top: -51px;
			left: -1px;
			height: 50px;
			width: 101%;
			background-color: #fff9ee;
		}
	}
	.tabs {
		font-family:  Arial, sans-serif;
		font-size: 14px;
		margin: 5px 20px 0 20px;
		text-align: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid #eee;
			z-index: 1;
		}
	}
	.tab {
		display: inline-block;
		padding: 15px 30px 15px 30px;
		cursor: pointer;
		&.active {
			position: relative;
			z-index: 10;
			border-bottom: 1px solid #f1af50;
		}
		&:hover{
			background-color: #f5f5f5;
		}
	}
	.section {
		display: none;
		margin: 20px;
		margin-top: 70px;
		font-family:  Arial, sans-serif;
		&.active {display: block;}
	}
	/*recommend*/
		.tags {
			padding: 10px 20px;
		}
		.tag {
			cursor: default;
			display: inline-block;
			background-color: #f5f5f5;
			border: 1px solid #e5e5e5;
			font-size: 14px;
			padding: 5px 23px 5px 5px;
			margin: 5px 10px 3px 12px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: -24px;
				top: 0;
				border: 12px solid transparent; 
				border-right: 12px solid #f5f5f5; 
			}
			&:before{
				content: '';
				position: absolute;
				left: -25px;
				top: 0;
				border: 12px solid transparent; 
				border-right: 12px solid #e5e5e5; 
			}
		}
		.tag__delete{
			position: absolute;
			top: -2px;
			right: 0;
			padding: 8px;
			padding-bottom: 20px;
			font-size: 12px;
			color: #aaa;
			cursor: pointer;
			height: 20px;
			&:hover{color: black;}
		}

		.phone {
			margin-bottom: 5px;
			clear: both;
			width: 100%;
			height: 120px;
		}
		.phone-fullimg {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			background-color: rgba(255,255,255,.5);
		}
		.phone-fullimg__block {
			background-color: white;
			width: 250px;
			height: 460px;
			margin: 0 auto;
			position: relative;
			top: 50%;
			margin-top: -225px;
			border: 1px solid #fdd8a3;
			-webkit-box-shadow: 0 5px 20px #cecece;
			-moz-box-shadow: 0 5px 20px #cecece;
			box-shadow: 0 5px 20px #cecece;
			img {
				display: block;
				margin: 0 auto;
			}
			.phone-fullimg__close {
				text-align: right;
				width: 100%;
				height: 23px;
				margin-bottom: 10px;
				border-bottom: 1px solid #ffeacd;
				padding-right: 6px;
				background-color: #fff9ee;
				span{
					cursor: pointer;
					font-size: 25px;
					font-family:  Arial, sans-serif;
				}
			}
		}
		.phone__img {
			float: left;
			height: 118px;
			width: 20%;
			cursor: pointer;
			img {
				display: block;
				margin: 10px auto;
				height: 98px;
				width: 50px;
			}
		}
		.phone__desc {
			float: left;
			width:80%;
			height: 100%;
			display: inline-block;
			font-size: 16px;
			padding: 10px;
		}
		.feature.title{
			font-size: 16px;
			font-weight: bold;
			margin: 5px 0 5px 0;
		}
		.feature.cost {
			font-size: 14px;
			margin-bottom: 7px;
		}
		.feature {
			font-size: 13px;
			margin-bottom: 2px;
		}
	/**/
	/*console*/
		.log {
			padding: 15px 0 15px 20px;
			margin-left: 50px;
			position: relative;
			border-left: 3px solid #eaeaea;
			&:hover {background-color: #f9f9f9;}
			&:after {
				content: '';
				text-align: right;
				position: absolute;
				left: -50px;
				top: 0;
				width: 40px;
				height: 100%;
				font-size: 11px;
				padding-top: 10px;
				margin-left: -5px;
				color: #bbb;
			}
			&.db_error {border-color: #ff9381;}
			&.js_error {border-color: #ff9381}
			&.done {border-color: #fcffb0;}
			&.ok {border-color: #c3db9a;}

			&.db_error:after {content: 'DB';}
			&.js_error:after {content: 'JS';}
			&.done:after {content: 'done';}
			&.ok:after {content: 'ok';}
		}
	/**/ 
	/*admin*/
		.admin {
			h1 {
				font-size: 20px;
				padding-bottom: 20px;
				padding-top: 20px;
			}
			input{
				border: 1px solid #ddd;
				padding-left: 5px;
				width: 100%;
				min-height: 30px;
				font-size: 14px;
				border-radius:4px;
			}
			input[type=submit]{
				margin-top: 40px;
				cursor: pointer;
				&:hover {opacity: .7;}
			}
			label {
				display: block;
				padding: 25px 0 10px 0;
				font-size: 15px;
			}
		}
	/**/
/*/dash*/

@media only screen and (max-width: 1100px) {
	.wrapper {min-width: 0px;}
	.section {margin-top: 20px;}
	#chat,#dashboard {
		width: 100%;
		float: none;
	}
	#chat { margin: 0;}
	.chat__wrap {position: static; width: 100%;}
	.messages{ height: 350px;position: relative;top: 150px;}
	.message_none {margin-top: 10%; font-size: 14px;}
	.input, .send {position: absolute; width: 100%; }
	.input { top: 0px; font-size: 16px;}
	.send { top: 101px; border-top: none; height: 33px;}

	#dashboard { 
		position: relative;
		margin:0;
		margin-top: -85px;
		font-size: 13px;
	}
	.tabs_wrap {
		position: relative;
		width: 100%;
		border: none;
		&:after,&:before{display: none;}
	}
	.tab {
		width: 100%; 
		margin: 0; 
		font-size: 13px;
		padding: 10px 0 10px 0;
		&.active {
			background-color: #ffe8c8;
			border-bottom: none;
		}
	}
	.feature{font-size: 13px;}
	.log {
		padding: 15px 0 15px 10px;
		margin-left: 0px;
		position: relative;
		border-left: 3px solid #eaeaea;
		&:hover {background-color: #f9f9f9;}
		&:after,&:before {display: none;}
	}
}