@charset "UTF-8";
/*reset*/
/* line 3, ../sass/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 24, ../sass/screen.scss */
html {
  line-height: 1;
}

/* line 28, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, ../sass/screen.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 40, ../sass/screen.scss */
q, blockquote {
  quotes: none;
}

/* line 43, ../sass/screen.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 47, ../sass/screen.scss */
a img {
  border: none;
}

/* line 50, ../sass/screen.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**/
/*Общие*/
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/T3abUOg4YgfjOby2l-Qudj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
/* line 62, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 63, ../sass/screen.scss */
body {
  height: 100%;
  color: #2f2f2f;
  background-color: #fff9ee;
}

/* line 69, ../sass/screen.scss */
::selection {
  background: #b7e0f6;
}

/* line 70, ../sass/screen.scss */
::-moz-selection {
  background: #b7e0f6;
}

/* line 72, ../sass/screen.scss */
* {
  font-family: Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* line 83, ../sass/screen.scss */
.wrapper {
  min-height: 100%;
  max-width: 1900px;
  width: 90%;
  height: auto;
  margin: 2% auto 0;
}

/* line 90, ../sass/screen.scss */
.block {
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}

/*/Общие*/
/*chat*/
/* line 100, ../sass/screen.scss */
#chat {
  float: left;
  width: 50%;
  min-height: 600px;
  margin-right: 1%;
}

/* line 106, ../sass/screen.scss */
.chat__wrap {
  position: fixed;
  width: 45%;
  max-width: 950px;
  height: 100%;
}

/* line 112, ../sass/screen.scss */
.messages__wrap {
  position: relative;
  height: 100%;
  padding-bottom: 215px;
  min-height: 550px;
}

/* line 118, ../sass/screen.scss */
.messages {
  height: 100%;
  margin-bottom: 20px;
  padding: 30px;
  overflow-y: auto;
  position: relative;
}

/* line 125, ../sass/screen.scss */
.message {
  cursor: default;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: block;
  clear: both;
  width: 100%;
}

/* line 133, ../sass/screen.scss */
.message_none {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30%;
  color: #bbb;
}

/* line 140, ../sass/screen.scss */
.message_loader {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 30px;
  background-image: url("../img/loader.gif");
}
/* line 147, ../sass/screen.scss */
.message_loader:after {
  font-family: Arial, sans-serif;
  padding-left: 20px;
  content: 'Думаю';
}

/* line 153, ../sass/screen.scss */
.me, .system {
  position: relative;
  margin: 7px 0 7px 0;
  padding: 10px 20px 8px 20px;
  border-radius: 5px;
  max-width: 80%;
}
/* line 159, ../sass/screen.scss */
.me:after, .system:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 10px;
}

/* line 166, ../sass/screen.scss */
.me {
  float: right;
  background-color: #f1f1f1;
}
/* line 169, ../sass/screen.scss */
.me:after {
  bottom: -3px;
  right: -7px;
  background-image: url("../img/message_me.png");
}
/* line 174, ../sass/screen.scss */
.me .date {
  left: -37px;
}

/* line 176, ../sass/screen.scss */
.system {
  float: left;
  background-color: #ffe8c8;
}
/* line 179, ../sass/screen.scss */
.system:after {
  bottom: -3px;
  left: -7px;
  background-image: url("../img/message_system.png");
}
/* line 184, ../sass/screen.scss */
.system .date {
  right: -37px;
}

/* line 186, ../sass/screen.scss */
.date {
  font-size: 12px;
  color: #ddd;
  position: absolute;
  top: 32%;
}

/* line 192, ../sass/screen.scss */
.input {
  position: absolute;
  resize: none;
  bottom: 90px;
  left: 0;
  font-size: 18px;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 15px;
}

/* line 203, ../sass/screen.scss */
.send {
  position: absolute;
  bottom: 60px;
  left: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  background: linear-gradient(white 0%, #e6e6e6 100%);
}
/* line 215, ../sass/screen.scss */
.send:hover {
  background: #efefef;
}
/* line 218, ../sass/screen.scss */
.send:active {
  background: #fefefe;
}

/*/chat*/
/*dash*/
/* line 225, ../sass/screen.scss */
#dashboard {
  float: left;
  width: 48%;
  height: 100%;
  margin-left: 1%;
  margin-bottom: 72px;
}

/* line 232, ../sass/screen.scss */
.tabs_wrap {
  position: fixed;
  background-color: white;
  width: 43%;
  border-top: 1px solid #dedede;
  z-index: 30;
}
/* line 238, ../sass/screen.scss */
.tabs_wrap:after, .tabs_wrap:before {
  content: '';
  position: absolute;
}
/* line 242, ../sass/screen.scss */
.tabs_wrap:after {
  bottom: -20px;
  left: 0px;
  height: 20px;
  width: 100%;
  background-color: white;
}
/* line 249, ../sass/screen.scss */
.tabs_wrap:before {
  top: -51px;
  left: -1px;
  height: 50px;
  width: 101%;
  background-color: #fff9ee;
}

/* line 257, ../sass/screen.scss */
.tabs {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 5px 20px 0 20px;
  text-align: center;
  position: relative;
}
/* line 263, ../sass/screen.scss */
.tabs:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #eee;
  z-index: 1;
}

/* line 273, ../sass/screen.scss */
.tab {
  display: inline-block;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}
/* line 277, ../sass/screen.scss */
.tab.active {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #f1af50;
}
/* line 282, ../sass/screen.scss */
.tab:hover {
  background-color: #f5f5f5;
}

/* line 286, ../sass/screen.scss */
.section {
  display: none;
  margin: 20px;
  margin-top: 70px;
  font-family: Arial, sans-serif;
}
/* line 291, ../sass/screen.scss */
.section.active {
  display: block;
}

/*recommend*/
/* line 294, ../sass/screen.scss */
.tags {
  padding: 10px 20px;
}

/* line 297, ../sass/screen.scss */
.tag {
  cursor: default;
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 5px 23px 5px 5px;
  margin: 5px 10px 3px 12px;
  position: relative;
}
/* line 306, ../sass/screen.scss */
.tag:after {
  content: '';
  position: absolute;
  left: -24px;
  top: 0;
  border: 12px solid transparent;
  border-right: 12px solid #f5f5f5;
}
/* line 314, ../sass/screen.scss */
.tag:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  border: 12px solid transparent;
  border-right: 12px solid #e5e5e5;
}

/* line 323, ../sass/screen.scss */
.tag__delete {
  position: absolute;
  top: -2px;
  right: 0;
  padding: 8px;
  padding-bottom: 20px;
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
  height: 20px;
}
/* line 333, ../sass/screen.scss */
.tag__delete:hover {
  color: black;
}

/* line 336, ../sass/screen.scss */
.phone {
  margin-bottom: 5px;
  clear: both;
  width: 100%;
  height: 120px;
}

/* line 342, ../sass/screen.scss */
.phone-fullimg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 352, ../sass/screen.scss */
.phone-fullimg__block {
  background-color: white;
  width: 250px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -225px;
  border: 1px solid #fdd8a3;
  -webkit-box-shadow: 0 5px 20px #cecece;
  -moz-box-shadow: 0 5px 20px #cecece;
  box-shadow: 0 5px 20px #cecece;
}
/* line 364, ../sass/screen.scss */
.phone-fullimg__block img {
  display: block;
  margin: 0 auto;
}
/* line 368, ../sass/screen.scss */
.phone-fullimg__block .phone-fullimg__close {
  text-align: right;
  width: 100%;
  height: 23px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffeacd;
  padding-right: 6px;
  background-color: #fff9ee;
}
/* line 376, ../sass/screen.scss */
.phone-fullimg__block .phone-fullimg__close span {
  cursor: pointer;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

/* line 383, ../sass/screen.scss */
.phone__img {
  float: left;
  height: 118px;
  width: 20%;
  cursor: pointer;
}
/* line 388, ../sass/screen.scss */
.phone__img img {
  display: block;
  margin: 10px auto;
  height: 98px;
  width: 50px;
}

/* line 395, ../sass/screen.scss */
.phone__desc {
  float: left;
  width: 80%;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

/* line 403, ../sass/screen.scss */
.feature.title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

/* line 408, ../sass/screen.scss */
.feature.cost {
  font-size: 14px;
  margin-bottom: 7px;
}

/* line 412, ../sass/screen.scss */
.feature {
  font-size: 13px;
  margin-bottom: 2px;
}

/**/
/*console*/
/* line 418, ../sass/screen.scss */
.log {
  padding: 15px 0 15px 20px;
  margin-left: 50px;
  position: relative;
  border-left: 3px solid #eaeaea;
}
/* line 423, ../sass/screen.scss */
.log:hover {
  background-color: #f9f9f9;
}
/* line 424, ../sass/screen.scss */
.log:after {
  content: '';
  text-align: right;
  position: absolute;
  left: -50px;
  top: 0;
  width: 40px;
  height: 100%;
  font-size: 11px;
  padding-top: 10px;
  margin-left: -5px;
  color: #bbb;
}
/* line 437, ../sass/screen.scss */
.log.db_error {
  border-color: #ff9381;
}
/* line 438, ../sass/screen.scss */
.log.js_error {
  border-color: #ff9381;
}
/* line 439, ../sass/screen.scss */
.log.done {
  border-color: #fcffb0;
}
/* line 440, ../sass/screen.scss */
.log.ok {
  border-color: #c3db9a;
}
/* line 442, ../sass/screen.scss */
.log.db_error:after {
  content: 'DB';
}
/* line 443, ../sass/screen.scss */
.log.js_error:after {
  content: 'JS';
}
/* line 444, ../sass/screen.scss */
.log.done:after {
  content: 'done';
}
/* line 445, ../sass/screen.scss */
.log.ok:after {
  content: 'ok';
}

/**/
/*admin*/
/* line 450, ../sass/screen.scss */
.admin h1 {
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* line 455, ../sass/screen.scss */
.admin input {
  border: 1px solid #ddd;
  padding-left: 5px;
  width: 100%;
  min-height: 30px;
  font-size: 14px;
  border-radius: 4px;
}
/* line 463, ../sass/screen.scss */
.admin input[type=submit] {
  margin-top: 40px;
  cursor: pointer;
}
/* line 466, ../sass/screen.scss */
.admin input[type=submit]:hover {
  opacity: .7;
}
/* line 468, ../sass/screen.scss */
.admin label {
  display: block;
  padding: 25px 0 10px 0;
  font-size: 15px;
}

/**/
/*/dash*/
@media only screen and (max-width: 1100px) {
  /* line 478, ../sass/screen.scss */
  .wrapper {
    min-width: 0px;
  }

  /* line 479, ../sass/screen.scss */
  .section {
    margin-top: 20px;
  }

  /* line 480, ../sass/screen.scss */
  #chat, #dashboard {
    width: 100%;
    float: none;
  }

  /* line 484, ../sass/screen.scss */
  #chat {
    margin: 0;
  }

  /* line 485, ../sass/screen.scss */
  .chat__wrap {
    position: static;
    width: 100%;
  }

  /* line 486, ../sass/screen.scss */
  .messages {
    height: 350px;
    position: relative;
    top: 150px;
  }

  /* line 487, ../sass/screen.scss */
  .message_none {
    margin-top: 10%;
    font-size: 14px;
  }

  /* line 488, ../sass/screen.scss */
  .input, .send {
    position: absolute;
    width: 100%;
  }

  /* line 489, ../sass/screen.scss */
  .input {
    top: 0px;
    font-size: 16px;
  }

  /* line 490, ../sass/screen.scss */
  .send {
    top: 101px;
    border-top: none;
    height: 33px;
  }

  /* line 492, ../sass/screen.scss */
  #dashboard {
    position: relative;
    margin: 0;
    margin-top: -85px;
    font-size: 13px;
  }

  /* line 498, ../sass/screen.scss */
  .tabs_wrap {
    position: relative;
    width: 100%;
    border: none;
  }
  /* line 502, ../sass/screen.scss */
  .tabs_wrap:after, .tabs_wrap:before {
    display: none;
  }

  /* line 504, ../sass/screen.scss */
  .tab {
    width: 100%;
    margin: 0;
    font-size: 13px;
    padding: 10px 0 10px 0;
  }
  /* line 509, ../sass/screen.scss */
  .tab.active {
    background-color: #ffe8c8;
    border-bottom: none;
  }

  /* line 514, ../sass/screen.scss */
  .feature {
    font-size: 13px;
  }

  /* line 515, ../sass/screen.scss */
  .log {
    padding: 15px 0 15px 10px;
    margin-left: 0px;
    position: relative;
    border-left: 3px solid #eaeaea;
  }
  /* line 520, ../sass/screen.scss */
  .log:hover {
    background-color: #f9f9f9;
  }
  /* line 521, ../sass/screen.scss */
  .log:after, .log:before {
    display: none;
  }
}
